@import './variables';

.links-content 
{
    width: 20vw;
    
    grid-area: 1/1/2/2;
    margin: auto auto;
    display: flex;
    -moz-column-gap: 2vw;
    column-gap: 2vw;
    margin-left: 2vw;
}

.up{
    @media (max-width: 767px) { width: 100vw; position: fixed;}
}

.links-content__item 
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (min-width: 768px) { margin-top: 1.5vh;  font-size: 2vh; }
    @media (max-width: 767px) { margin-top: 0vh;    font-size: 1.2vh; }
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    font-weight: 600;
    text-transform: lowercase;
    &::before , &::after 
    {
        position: absolute;
        top: 100%;
        width: 100%;
        height: 10px;
        background: currentColor;
        pointer-events: none;
        opacity: 0;
        content: "";
    }
    &:hover 
    {
        &::before 
        {
            opacity: 1;
            -webkit-animation: lineUp 0.3s ease forwards;
            animation: lineUp 0.3s ease forwards;
        }
    }
}