@import './variables';

main {
    color: $color_1;
	height: 200%;
	font-family: $font-family_2;
    .main__div__1 {
        margin-left: 80vw;
        position: fixed;
        margin-top: 8vh;
        z-index: 1;
        width: 15vw;
        a {
            margin-top: 1vh;
            margin-bottom: 1vw;
            border-radius: 1vw;
            border: 1vw solid black;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: $background-color_3;
            width: 100%;
        }
        img {
            width: 3vh;
            height: 3vh;
        }
    }
	.main__div__2 {
        * {
            margin-top: 2vh;
            margin-bottom: 2vh;
        }
		display: flex;
		justify-content: center;
        flex-direction: column;
		height: 100vh;
        margin: auto auto;
        text-align: left;
        margin-left: 40%;
        @media (min-width: 768px) { width: 50%; font-size: 200%; }
        @media (min-width: 1024px) { width: 35%; font-size: 200%; }
        @media (max-width: 767px) { margin-left: 5%; font-size: 150%; }
        .main__div__2__link {
            text-decoration: none;
            cursor: pointer;
            span {
                font-weight: 100;
                transition: all 0.13s;
                &:nth-child(2) { transition-delay: 0.1s; }
                &:nth-child(3) { transition-delay: 0.2s; }
                &:nth-child(4) { transition-delay: 0.3s; }
                &:nth-child(5) { transition-delay: 0.4s; }
                &:nth-child(6) { transition-delay: 0.5s; }
            }
            &:hover {
                text-shadow: 1px 1px 0px rgb(85, 85, 85), 2px 2px 0px rgb(85, 85, 85), 3px 3px 0px rgb(85, 85, 85);
                span {
                    font-weight: 700;
                    &:nth-child(2) { transition-delay: 0.1s; }
                    &:nth-child(3) { transition-delay: 0.2s; }
                    &:nth-child(4) { transition-delay: 0.3s; }
                    &:nth-child(5) { transition-delay: 0.4s; }
                    &:nth-child(6) { transition-delay: 0.5s; }
                }
            }
        }
        .modif span{
                @media (min-width: 768px) {margin-right: -2%;}
                @media (min-width: 1440px) {margin-right: -1%;}
                @media (max-width: 768px) {margin-right: -1%;}
        }
        .main__div__2__span__1 {
            overflow: hidden;
            width: 0;
            white-space: nowrap;
            border-right: 0.15em solid wheat;
            -webkit-animation: typing 1s steps(20, end) forwards;
            animation: typing 1s steps(20, end) forwards;
        }
	}
    .main__div__3 {
        width: 100vh;
        height: 100vw;
        transform: rotate(-90deg) translateX(-100vh);
        transform-origin: top left;
        overflow-x: hidden;
        -ms-overlow-style: none;
        scrollbar-width: none;
        .main__div__3__div__1 
        {
            display: flex;
            flex-direction: row;
            @media (min-width: 767px) { height: 90vh; }
            @media (max-width: 767px) { height: 95vh; }
            transform: rotate(90deg) translateY(-100vh);
            transform-origin: top left;
            a {
                @media (min-width: 767px) { margin-top: 10vh; }
                @media (max-width: 767px) { margin-top: 5vh; }
                width: 100%;
                height: 100%;
                font-weight: 900;
                @media (min-width: 768px) {
                    font-size: 300%;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(3, 1fr);
                    grid-column-gap: 2vw;
                }
                @media (max-width: 767px) {
                    font-size: 200%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                h2 {
                    @media (min-width: 768px) { grid-area: 1 / 1 / 2 / 2; }
                    text-align: center;
                    margin-top: 10%;
                    margin-left: 7%;
                }
                img {
                    @media (min-width: 768px) { margin: auto auto; grid-area: 2 / 1 / 3 / 3; }
                    @media (max-width: 767px) { margin: 5vw auto; }
                    width: 30vw;
                    height: 30vw;
                    min-width: 250px;
                    min-height: 250px;
                }
                p
                {
                    grid-area: 1 / 2 / 2 / 3;
                    margin-left: 10%;
                    margin-right: 5%;
                    margin-top: 5%;
                    font-size: 50%;
                }
            }
            .mode1 
            {
                background-color: $background-color_1;
                color: $color_1;
            }
            .mode2 
            {
                background-color: $background-color_2;
                color: $color_2;
            }
        }
    }
}