$color_1: wheat;
$color_2: rgb(40, 39, 39);
$color_3: rgb(84, 83, 83);
$font-family_1: "Unbounded", cursive;
$font-family_2: "Chivo Mono", monospace;
$background-color_1: rgb(40, 39, 39);
$background-color_2: wheat;
$background-color_3: rgb(2, 2, 2);